<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
</head>
<body>
  
  <!-- 카드 리스트 -->
  <div class="row mt-5 mb-5">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-tasks"></i>
        </div>
        <div class="count">14</div>

        <h3>전체 업무</h3>
        
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-check-square-o"></i>
        </div>
        <div class="count">4</div>

        <h3>완료 업무</h3>
        
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-star-o"></i>
        </div>
        <div class="count">5</div>

        <h3>이슈</h3>
        
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-reply"></i>
        </div>
        <div class="count">2</div>

        <h3>리퀘스트</h3>
        
      </div>
    </div>
  </div>
  <!-- 카드 리스트 끝 -->

</body>
</html>