<!DOCTYPE html>
<html lang="ko">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>probada</title>
    <link rel="icon" href="/webapp/resources/asserts/images/tab-img.jpg">

    <!-- Bootstrap core CSS -->
    <link href="/webapp/resources/bootstrap/ddit-vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/webapp/resources/asserts/css/common/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/webapp/resources/asserts/css/common/animated.css">
    <link rel="stylesheet" href="/webapp/resources/asserts/css/common/owl.css">
    
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="login.html" class="logo">
              <img src="/webapp/resources/asserts/images/logo.png" alt="probada App">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">홈</a></li>
              <li class="scroll-to-section"><a href="#services">기능</a></li>
              <li class="scroll-to-section"><a href="#about">probada란?</a></li>
              <li class="scroll-to-section"><a href="#pricing">요금</a></li>
              <li><div class="gradient-button"><a id="loginBtn" href="./login.html"><i class="fa fa-sign-in-alt"></i> 시작하기</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">

                <div class="row">
                  <div class="col-lg-12">

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Footer Area Start ***** -->
  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4 style="text-align: initial;">
              메신저・프로젝트 소통・워크플로우<br/>
              화상회의까지 ㅡ <br/>
              이 모든 기능을 플로우로 무료로 체험해보세요.
            </h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <!-- <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div> -->
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">30일 무료 체험하기<i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>주소 : 대전광역시 중구 대흥동 500-5</p>
            <p><a href="#">전화 : 042-222-8201</a></p>
            <p><a href="#">이메일 : info@company.co</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">홈</a></li>
              <li><a href="#">서비스</a></li>
              <li><a href="#">회사</a></li>
              <li><a href="#">찾아오는 길</a></li>
              <li><a href="#">유료서비스</a></li>
            </ul>
            <ul>
              <li><a href="#">마창수(33)</a></li>
              <li><a href="#">마창수(33)</a></li>
              <li><a href="#">마창수(33)</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Free Apps</a></li>
              <li><a href="#">App Engine</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">App News</a></li>
            </ul>
            <ul>
              <li><a href="#">App Dev Team</a></li>
              <li><a href="#">Digital Web</a></li>
              <li><a href="#">Normal Apps</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our Company</h4>
            <div class="logo">
              <img src="/webapp/resources/asserts/images/white-logo.png" alt="">
            </div>
            <p>누구나 쉽고 간편하게 사용할 수 있는 프로젝트 관리 시스템을 만들어가는 probada입니다.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 probada App Company. All Rights Reserved. 
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->


  <!-- Scripts -->
  <script src="/webapp/resources/bootstrap/ddit-vendor/jquery/jquery.min.js"></script>
  <script src="/webapp/resources/bootstrap/ddit-vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/webapp/resources/asserts/js/common/owl-carousel.js"></script>
  <script src="/webapp/resources/asserts/js/common/animation.js"></script>
  <script src="/webapp/resources/asserts/js/common/imagesloaded.js"></script>
  <script src="/webapp/resources/asserts/js/common/popup.js"></script>
  <script src="/webapp/resources/asserts/js/common/custom.js"></script>

</body>
</html>