<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>verification - probada</title>
  <link rel="icon" href="/resources/asserts/images/tab-img.jpg">
  <link rel="stylesheet" href="/resources/asserts/css/common/login.css">
</head>
<body>
  <!-- <p class="tip">Click on button in image container</p> -->
  <p class="tip"><img src="/resources/asserts/images/login_logo.png" alt="login_logo"></p>
<div class="cont s--signup" onclick="l">
  <div class="sub-cont">
    <div class="img">
        <div class="img__text m--in">
          <h2>회원이신가요?</h2>
          <p>이미 계정이 있으시다면 로그인해보세요. 우리는 회원님을 잊지 않았어요!</p>
        </div>
        <div class="img__btn">
          <span class="m--in">로그인</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>이메일을 확인해주세요,</h2>
      <label>
        <span>이메일 인증코드</span>
        <input type="password" />
      </label>
      <button type="button" class="submit">인증완료</button>
      <button type="button" class="fb-btn">Join with <span>Kakao</span></button>
    </div>
  </div>
</div>

<!-- 홈 화면으로 이동 -->
<a href="./home-page-index.html" target="_self" class="icon-link">
  <img src="https://cdn-icons-png.flaticon.com/512/1946/1946433.png">
</a>

</body>
<script src="/resources/asserts/js/common/login.js"></script>
</html>