<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
</head>
<body>


  <div class="row">
    <!-- bar chart -->
    <div class="col-md-6 col-sm-6  ">
      <div class="x_panel">
        <div class="x_title">
          <h2>업무별 상태 <small>봉 그래프</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="graph_bar" style="width:100%; height:280px;"></div>
        </div>
      </div>
    </div>
    <!-- /bar charts -->
    <!-- ground cahrs -->
      <div class="col-md-6 col-sm-4" style="padding: 0px;">
        <div class="x_panel">
          <div class="x_title">
            <h2>업무별 상태</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
    
            <div id="echart_donut" style="height:350px;"></div>
    
          </div>
        </div>
      </div>
    <!-- /ground cahrs -->
  </div>
</body>
</html>